<h1>Customers</h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email Address</th>
    </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
      <tr>
        <td><%= link_to customer.first_name, customer%></td>
        <td><%= link_to customer.last_name, customer%></td>
        <td><%= customer.email_address%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <p></p>

  <%= link_to "New Customer", new_customer_path%>
